.work {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list__card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}

.work-list__text {
  font-size: 14px;
  color: var(--secondary-text-color);
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
}
