:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --border-color: #ececec;
  --bg-color: #f5f4fa;
  --primery-icon-color: #afb1b8;
}
